body {
    margin: 0px;
}

nav {
    background-color: #0c4ca3;
    padding: 10px; /* khoảng cách giữa các từ */
}

ul {
    display: flex; /* Sắp xếp các phần tử theo hàng ngang */
    justify-content: center; /* xóa dấu chấm đầu dòng */
    list-style: none; /* căn giữa các phần tử con */
}

li {
    padding: 15px;
}

.border {
    border-right: 1px solid grey; 
}

.danhmuc-lienket {
    color: white;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;
}

.benner {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.qc {
    display: flex;
    justify-content: space-between;
}

header {
    border-bottom: 10px solid #f1f1f2;
}

main {
    font-family: Roboto, Arial, Tahoma;
}