body {
    background-color: #131314;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 10vh;
}
.logo {
    display:flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.logo ul {
    display: flex;
    list-style: none;
    align-items: center;
    /* gap: 20px; */
    padding: 0;
    margin: 0;
}
.logo li {
    margin-right: 20px;
    margin-top: 10px;
}
.logo img {
    width: 125px;
    height: auto;
}
.logo a {
    color: white;
    text-decoration: none;
}
.chucnang {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mua {
    display:flex;                     /* đặt thanh thành flexbox */
    justify-content: space-between;
    align-items: center;
    background: #EA4335;               /* màu nền ô */
    border-radius:10px;
    padding: 8px 12px;
    color: white;
    margin-right: 5px;
}

/* CHUNG */
.phim {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow:scroll;
    overflow-y: hidden;
}
.phim img{
    width: 200px;
    height: 300px;
}
.Moi {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow:scroll;
    overflow-y: hidden;
}
.Moi img {
    width: 350px;
    height: 200px;
}
.thethao {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow:scroll;
    overflow-y: hidden;
}
.thethao img {
    width: 200px;
    height: 100px;
}
h1 {
    font-size: 25px;
}
p {
    font-size: 17px;
}

/* MAIN */
main {
    width: 70%;
    background-color: #131314;
    height: auto;
    margin: auto;
}
main img {
    width: 100%;
    border-radius: 5px;
}
.muado {
    margin-top: 15px;
    width: 100%;
    height: 500px;
    background-image: url("../FPT/img/mua-do2-1122.jpeg");    /* lấy ảnh làm nền của khung */
    background-size: cover;                                   /* cho ảnh phủ hết khung */
    position: relative;
    border-radius: 5px 5px 0 0;
    background-position: center;
    position: relative;
}
.dsgioithieu {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 30px;
    left: 15px
}
.gioithieu ul {
    display: flex;
    gap: 30px
}
.xemngay {
    display: flex;
    align-items: center;
    gap: 20px;   /* khoảng cách giữa các nút */
}
.xemngay div i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    background-color: #bbb (1, 1, 1, 1.5);
    border-radius:15px;
    width: 30px;
    height: 30px;
}
.Xem {
    display:flex;                     /* đặt thanh thành flexbox */
    justify-content: center;
    align-items: center;
    background: #EA4335;               /* màu nền ô */
    border-radius:10px;
    color: white;
    gap: 8px;
    font-weight: bold;
    border: none;
    width: 150px;
    height: 50px
}
.trailer {
    display: none;
    position: absolute;
    inset: 0; /* = top:0; left:0; right:0; bottom:0 */
    background-color: rgba(0, 0, 0, 0.9); /* lớp mờ nền */
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    z-index: 10; /* nằm trên banner */
}
.trailer iframe {
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.chu {
    position: absolute;
    top: 5px;                                   /* cách mép trên 5px */
    left: 10px;                                 /* cách mép trái 10px */
    color: white;
}
.sap {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow:scroll;
    overflow-y: hidden;
}
.sap img {
    width: 500px;
    height: 300px;
}
.danhmuc {
    display:flex;
    gap: 10px;
    overflow:scroll;
    overflow-y: hidden;
    width: 100%;
}
.muc {
    display:flex;
    min-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 120px;
}
.muc span {
    margin: 0 0 15px 0;
    text-align: center;   /* chữ căn giữa */
}

/* FOOTER */
footer {
    background-color: #131314;
    border-top:1px solid #444;
    width: 70%;
    height: auto;
    margin: 100px auto 0 auto;
    font-size: 14px;
}
.footer-top {
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-top img{  
    width: 130px;
    height: auto;
}
.anh {
    display:flex;
    flex-direction: column;
    gap: 10px
}
.cuoi {
    display:flex;
    justify-content: space-between;
}
.ndcuoi {
    color:#bbb;
}
.ndcuoi ul{
    list-style-type: none;
    margin-left: -40px;
}
.ndcuoi li {
    font-weight: bold;
    margin-bottom: 10px;
}
.ndcuoi p {
    font-size: 14px;
}
.lienhe {
    display:flex;
    gap: 10px;
    margin-right: 50px;
}
.fy {
    align-items: center;
    background: #bbb;               /* màu nền ô */
    border-radius: 15px;
    width: auto;
    height: auto;
    color: black;
    margin-right: 5px;
}
.footer-bottom {
    border-top:1px solid #444;
    padding-top: 20px;
    line-height: 1.6;
    text-align: left;
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
}
.icon {
    margin-right: 50px;
    display:flex;
    gap: 10px;
    margin-top: 15px;
}
.icon img{
    width: 20px;
    height: 20px;
}